.header {
  width: 100%;
  position: fixed;
  background-color: #0f0e102c;
  backdrop-filter: blur(36px);
  z-index: 99;
  height: 52px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #beb8c359;
  justify-content: space-around;
  & .icon {
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    display: block;
    line-height: normal;
    &:hover {
      filter: saturate(30);
    }
  }
  & nav {
    width: 100%;
    max-width: 1100px;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    color: #EBE2F4;
    & form {
      background-color: #1F1C20;
      border: 1px solid;
      border-radius: 4px;
      color: #9d989e96;
      width: 178px;
      height: 32px;
      padding: 2px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & input {
        background-color: transparent;
        border: none;
        color: #d8d1da;
        width: 130px;
        &:focus {
          outline: none;
        }
      }
      & button {
        background-color: transparent;
        border-radius: 100%;
        aspect-ratio: 1/1;
        cursor: pointer;
        border: none;
        &:hover {
          background-color: #bcb7bd3f;
        }
      }
    }
    & a {
      color: #EBE2F4;
      text-decoration-color: #ebe2f400;
      transition: all 0.2s ease;
      &:hover {
        text-decoration-color: #ebe1f4;
      }
    }
    & div {
      display: flex;
      width: calc(250px + 5%);
      justify-content: space-between;
      align-items: center;
    }
    & h5 {
      line-height: 1;
      font-weight: 600;
      color: #BEB8C3;
      display: flex;
      align-items: center;
      & img {
        margin-right: 4px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .header {
    & nav {
      padding: 12px;
    }
    & div:nth-child(1) {
      display: none;
    }
  }
}