.docsLayout {
    display: flex;
    flex-direction: row;
    background-color: #141314;

    & section {
        width: calc(75% - 160px);
        margin-left: 2.5%;
        padding-bottom: 10dvh;
        padding-top: 4dvh;

        & .bigHeader {
            margin-bottom: 6dvh;
            font-weight: 600;
        }

        & strong {
            color: #f06cf7;
        }

        & p {
            font-size: 1.2rem;
        }

        & h3 {
            font-weight: 600;
            margin-top: 2rem;
            margin-bottom: 1.3rem;
        }

        & p,
        & h1,
        & h2,
        & h4 {
            margin-top: 1.3rem;
            margin-bottom: 1.3rem;
        }
    }

    & aside {
        position: sticky;
        position: -webkit-sticky;
        top: 52px;
        min-height: calc(100dvh - 46px);
        height: 100dvh;
        width: calc(160px + 8%);
        padding-left: 10px;
        overflow: scroll;
        padding-right: 12px;

        & h5 {
            font-size: 1rem;
            font-weight: 800;
            margin-top: 1.6rem;
            margin-bottom: 1.6rem;
            padding-left: 6px;
        }
    }
}